* { /* Todos los elementos de la página tienen borde */
			border: thin solid #442A5D;
		}
		/* Del resto hay que crear clases por cada párrafo, en función de la propiedad display */
		
		span#negrita
		{
			display: block;
		}

		p.linea
		{
			display: inline;
		}

		p.lista
		{
			display: list-item;
			list-style-position: inside;
			padding-left: 10px;
			list-style-type: square;
		}

		p.escondido
		{
			display: none;
		}

		a.bloqueenlinea
		{
			display: inline-block;
			height: 130px;
		}

		p.celda
		{
			display: table-cell;
		}