div#contenedor{
        	display: flex;
        	flex-flow: row wrap-reverse;
        	justify-content: space-around;
            height: 46rem;
            width: 80rem;
            background-color: #194293;
            margin-bottom: 5rem;
        }
        div.azul{
			text-align: center;
			line-height: 18rem;
			width: 18rem;
		  	height: 18rem;
		  	font-size: 30px;
            background-color: #54A7D4;
            color: white;
            border: 2px solid white;
        }
        #contenedor > div:last-child{
            align-content: center;
            margin: 0px;
        }
        div#contenedor2{
        	display: flex;
        	flex-flow: row wrap-reverse;
        	justify-content: space-between;
            height: 46rem;
            width: 80rem;
            background-color: #194293;
        }
        #contenedor2 > div:last-child{
            align-items: flex-start;
            margin: 0px;
        }