div.estilos{
            display: flex;
            height: 12rem;
            background-color: grey;
            border-top: 0.2rem solid aquamarine;
            border-right: 0.6rem solid aquamarine;
            border-bottom: 0.6rem solid aquamarine;
            border-left: 0.2rem solid aquamarine;
        }
        div.naranja{
            height: 7rem;
            width: 21rem;
            line-height: 7rem;
            text-align: center;
            font-size: 30px;
            color: white;
            background-color: rgba(255, 94, 0, 0.849);
        }
        div#contenedor1{
		  	align-items: flex-end;
            justify-content: space-between;
        }
        div#contenedor1 > div:nth-child(3n) { 
            align-self: baseline; 
        }
        div#contenedor2{
            align-items: flex-start;
            justify-content: space-between;
        }
        div#contenedor2 > div:nth-child(3n) {
            align-self: flex-end; 
        }
        div#contenedor3{
            align-items: center;
            justify-content: space-between;
        }
        div#contenedor3 > div:first-child{
            height: 4rem;
            line-height: 4rem;
        }
        div#contenedor3 > div:nth-child(2n){
            height: 3rem;
            line-height: 3rem;
        }
        div#contenedor3 > div:nth-child(4n){
            height: 8.5rem;
            line-height: 8.5rem;
        }
        div#contenedor3 > div:last-child{
            height: 2rem;
            line-height: 2rem;
        }